<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Adı Belirle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #0c4646;
            color: antiquewhite;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .logincontainer {
            background-color: #238080;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            width: 80%;
            max-width: 500px;
            padding: 3rem;
        }
    </style>
</head>
<body>
    

    <div class="container">
        <h1 style="text-align: center;" class="mb-4">Vatsap'a Hoş Geldiniz</h1>
        <div class="container text-center logincontainer">
            <h1 class="mb-4">Kullanıcı Adı Belirle</h1>
            <form method="POST" class="d-flex flex-column align-items-center">
                <div class="mb-3 w-100">
                    <input type="text" name="username" class="form-control" placeholder="Kullanıcı adınızı girin" required>
                </div>
                <button type="submit" class="btn btn-danger" style="background-color: #e6580b ;">Giriş</button>
            </form>
        </div>

        <div class="container text-center mt-4">
           
            <h5>Kerim Ayberk Çıtak - 20401870</h5>
            <h5>Onur Alp Gündüz - 21401958</h5>
            <h5>Onur Çobanoğlu - 20401879</h5>

        </div>
    </div>
</body>
</html>
